p{
    color: rgb(116, 114, 24);
    font-size: 50px;
}
h1{
    color: rgb(27, 86, 141);
}

table, tr, th{
    border: 1px solid gold;
border-collapse: collapse;
height: 5000px;
}
body {
    height: 100px;
    background-color: greenyellow;
    background-image:
      linear-gradient(
     to right
     greenyellow
     rgb(255,255,0)
     green
    ); 
}

table{
   margin-left: 10rem;
}

.DND{
    color: rgb(255, 0, 170)

}
.bucket{
    color: rgb(255, 0, 170)

}
.videogames{
    color: rgb(201, 58, 153)

}
h1{
    font-size: 50px
}

p:nth-child(5){color: indigo;}

td{
    margin-left: 10rem;
}
