p{
    color: rgba(27, 116, 24, 0.781);
    font-size: 25px;
}
h1{
    color: rgba(23, 107, 155, 0.808);
}

table, tr, th{
    border: 2px solid rgba(35, 14, 54, 0.6);
border-collapse: collapse;
height: 5000px;
}

body {
    background: rgb(69,232,8);
background: linear-gradient(90deg, rgba(151, 48, 48, 0.548) 0%, rgba(136, 65, 121, 0.651) 35%, rgba(75, 41, 41, 0.705) 100%);
     
}

table{
    background-color: rgba(35, 14, 54, 0.5);
   margin-left: 5rem;
}

.DND{
    color: rgba(150, 32, 32, 0.548)

}
.bucket{
    color: rgba(172, 34, 80, 0.678)

}
.videogames{
    color: rgba(14, 187, 172, 0.288)

}
h1{
    font-size: 30px
}

p:nth-child(5){color: rgba(199, 166, 17, 0.63);}

td{
    margin-left: 5rem;
}
